.container_landing {
    padding-top: 5rem;
}

.title-landing {
  font-size: 3rem;
  line-height: 1.2;
  top: 8rem;
  width: 100%;
}

.shadow-image {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 50px;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.routeAnimation {
  animation: slideIn 1.5s ease-out forwards;
}

@keyframes draw {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.animate-draw {
  animation: draw 3s ease-in-out forwards;
  animation-delay: 1.5s;
}

.route-container {
  width: 100%;
  /* bottom: 0rem; */
}

.definition-top {
  margin-top: 0rem
}

.hover-effect {
  transition: transform 0.3s;
}

.hover-effect:hover {
  transform: scale(1.25);
}

@media (min-width: 1500px) {
  /* .route-container {
    bottom: 4rem;
  } */

  .title-landing {
    font-size: 5rem;
    margin-top: 1rem;
    /* line-height: 1.5; */
  }
}

@media (min-width: 1800px) {
  /* .route-container {
    bottom: 4rem;
  } */

  .title-landing {
    font-size: 6.5rem;
    margin-top: 1rem;
    /* line-height: 1.5; */
  }
}

@media (max-width: 768px) {
  .title-landing {
  font-size: 1.8rem;
  }
}
