.container_landing {
    padding-top: 5rem;
}

.title-landing {
  width: 40%;
  font-size: 3rem;
  line-height: 1.2;
  top: 8rem;
}

.shadow-image {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%) rotate(-4deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(-4deg);
    opacity: 1;
  }
}

.routeAnimation {
  animation: slideIn 1.5s ease-out forwards;
}

@keyframes draw {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.animate-draw {
  animation: draw 3s ease-in-out forwards;
  animation-delay: 1.5s;
}

.route-container {
  width: 100%;
  /* bottom: 0rem; */
}

.definition-top {
  margin-top: 0rem
}

.hover-effect {
  transition: transform 0.3s;
}

.hover-effect:hover {
  transform: scale(1.25);
}

@media (min-width: 1500px) {
  /* .route-container {
    bottom: 12rem;
  } */

  .title-landing {
    width: 35%;
  }
}

@media (min-width: 1600px) {
  /* .route-container {
    bottom: 4rem;
  } */

  .title-landing {
    width: 30%;
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .title-landing {
    width: 80%
  }
}
