.h-section1 {
    height: 100vh;
}

.h-section2 {
    height: 100vh;
}


@media (max-width: 675px) {
    .h-section1 {
        height: 110vh;
    }
}

@media (max-width: 389px) {
    .h-section1 {
        height: 140vh;
    }
}